#page {
   background-color: white;
}

.reszek{
    background-color:midnightblue;
}
.cimsorok{
    padding-top: 10px;
    padding-bottom: 20px;
}
p {
    font-size: 23px;
    text-align: left;
}
.infogomb{
    margin-top: 20px;
    text-align: center;
    margin-bottom: 10px;
}
#feherkuty{
    color: black;
    padding: 5px;
}
#feherkuty >div> p{
    font-size: 20px;
}
#kikkutya{
    background-color: rgb(46, 1, 46);
}
.felhivas{
    text-align: center;
    font-style: italic;
    font-weight: bold;
}